#Rename this file to .env and adapt the following values
MYSQL_ROOT_PW=
OX_ADMIN_PASSWORD=
#e.g. VIRTUAL_HOST=ox.example.com
HOSTNAME=
#e-mail address used for creating letsencrypt certificates
LETS_ENCRYPT_EMAIL=
COMPOSE_PROJECT_NAME=myox
PROXYNET=proxynet
DEFAULT_IMAP_LOGIN=
DEFAULT_IMAP_SERVER=
DEFAULT_SMTP_SERVER=
DEFAULT_EMAIL=