#Rename this file to .env and adapt the following values
MYSQL_ROOT_PW=
#e.g. VIRTUAL_HOST=ox.example.com
HOSTNAME=
#e-mail address used for creating letsencrypt certificates
LETS_ENCRYPT_EMAIL=
COMPOSE_PROJECT_NAME=my-ox
PROXYNET=proxynet