# Rename this file to .env and adapt the following values
MYSQL_ROOT_PW=
# e.g. VIRTUAL_HOST=ox.example.com
HOSTNAME=
# e-mail address used for creating letsencrypt certificates
LETS_ENCRYPT_EMAIL=
COMPOSE_PROJECT_NAME=myox
PROXYNET=proxynet
DEFAULT_IMAP_LOGIN=
# Use hostname:993 to enable TLS
DEFAULT_IMAP_SERVER=
# Use hostname:465 to enable TLS
DEFAULT_SMTP_SERVER=
DEFAULT_EMAIL=